@using Client.DataTransferObjects.Employees;
@model Client.DataTransferObjects.EmployeeProjects.EmployeeProjectDtoCreate

@{
    Layout = "_LayoutDashboard";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Create</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Dashboard/Index">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="~/EmployeeProject/Index?guid=@ViewData["ProjectGuid"]">Project Management</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="~/EmployeeProject/Create?guid=@ViewData["ProjectGuid"]">Create Project Management</a>
                </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create Project Management Form</h5>
                        <p>Welcome to the Create Project Management Form for Employee Idle Request to be Assigned to Internal Projects! This form is designed to facilitate the process of managing and coordinating employees who are currently in an idle status and are seeking opportunities to contribute to internal projects within organization. If approved, the employee's status will be updated from "Idle" to "Working" for the specified project duration. Thank you for using our application.</p>

                        <!-- Custom Styled Validation -->
                        <form action="/employeeproject/create" method="post" class="row g-3 needs-validation" novalidate>
                            @Html.AntiForgeryToken()
                            <div class="col-md-6" hidden>
                                <label for="validationCustom01" class="form-label">Project</label>
                                <input asp-for="ProjectGuid" type="text" class="form-control" id="validationCustom01" value="@ViewData["ProjectGuid"]">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom04" class="form-label">Employee</label>
                                <select asp-for="EmployeeGuid" class="form-select" id="validationCustom04" required>
                                    <option selected disabled value="">Choose...</option>
                                    @* foreach view data employees *@
                                    @{
                                        var employees = (IEnumerable<EmployeeDtoGet>)ViewData["Employees"];
                                        foreach (var item in employees.Where(e => e.Status == Client.Utilities.Enums.StatusEnum.Idle)){
                                            <option value="@item.Guid">@item.Nik - @item.FirstName @item.LastName</option>
                                        }
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                        </form><!-- End Custom Styled Validation -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->