@using Client.DataTransferObjects.EmployeeProjects
@using Client.DataTransferObjects.Projects
@using Client.Utilities.Enums;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Client.DataTransferObjects.Employees.EmployeeDtoGet>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
    var projectGuid = ViewData["ProjectGuid"];
    var project = (ProjectDtoGet)ViewData["Project"];
    var employeeProjects = (IEnumerable<EmployeeProjectDtoGet>)ViewData["EmployeeProjects"];
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Data Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Dashboard/Index">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="~/EmployeeProject/Index">Project Management</a>
                </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables Project Management</h5>
                        <form action="~/employeeproject/create" method="get">
                            <input type="hidden" name="guid" value="@projectGuid"/>
                            <button type="submit" class="btn btn-primary" style="margin: 2px">
                                <i class="ri-edit-box-fill"></i> Add
                            </button>
                        </form>
                        <!-- Table with stripped rows -->
                        <table id="data-table" class="table table-striped" style="width:100%">
                            <thead>
                            <tr>
                                <th scope="col">
                                    @Html.DisplayName("No")
                                </th>
                                <th scope="col">
                                    @Html.DisplayName("Employee Name")
                                </th>
                                <th scope="col">
                                    @Html.DisplayName("Project Name")
                                </th>
                                <th scope="col">
                                    @Html.DisplayName("Project Lead")
                                </th>
                                <th scope="col">
                                    @Html.DisplayName("Status")
                                </th>
                                <th scope="col">
                                    @Html.DisplayName("Action")
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                var i = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @{
                                        var culture = new System.Globalization.CultureInfo("id-ID");
                                    }
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @{
                                            var fullName = $"{item.FirstName} {item.LastName}";
                                        }
                                        @Html.DisplayFor(x => fullName)
                                    </td>
                                    <td>
                                        @*@project.NameProject*@
                                    </td>
                                    <td>
                                        @*@project.ProjectLead*@
                                    </td>

                                    <td>
                                        @foreach (var employeeProject in employeeProjects)
                                        {
                                            @if (item.Guid == employeeProject.EmployeeGuid)
                                            {
                                                @employeeProject.StatusApproval
                                            }
                                        }

                                    </td>
                                    <td>
                                        @{
                                            var employeeProjectGuid = "";
                                            foreach (var employeeProject in (IEnumerable<EmployeeProjectDtoGet>)ViewData["EmployeeProjects"])
                                            {
                                                if (employeeProject.EmployeeGuid == item.Guid)
                                                {
                                                    employeeProjectGuid = employeeProject.Guid.ToString();
                                                }
                                            }
                                        }
                                        <form action="/employeeproject/delete" method="post">
                                            <input type="hidden" value="@employeeProjectGuid" name="guid"/>
                                            <button type="submit" class="btn btn-danger delete-button" style="margin: 2px">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </form>
                                        @if (User.IsInRole(RoleLevelEnum.Manager.ToString())){
                                            <form action="/employeeproject/approve" method="post">
                                                <input type="hidden" value="@employeeProjectGuid" name="guid"/>
                                                <button type="submit" class="btn btn-primary delete-button" style="margin: 2px">
                                                    <i class="bi bi-check-square"></i> Approve
                                                </button>
                                            </form>
                                        }
                                        @if (User.IsInRole(RoleLevelEnum.Manager.ToString())){
                                            <form action="/employeeproject/approve" method="post">
                                                <input type="hidden" value="@employeeProjectGuid" name="guid"/>
                                                <button type="submit" class="btn btn-danger delete-button" style="margin: 2px">
                                                    <i class="bi bi-x-square"></i> Reject
                                                </button>
                                            </form>
                                        }
                                    </td>
                                </tr>
                                i++;
                            }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
