@using Client.DataTransferObjects.Employees;
@model IEnumerable<Client.DataTransferObjects.Grades.GradeDtoGet>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Grades Data View</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Dashboard/Index">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="~/Grade/Index">Grade</a>
                </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Grade Listings</h5>
                        <a href="/grade/create">
                            <button class="btn btn-primary" style="margin-bottom: 15px">
                                <i class="bi bi-plus-square"></i> Create
                            </button>
                        </a>
                        <!-- Table with stripped rows -->
                        <table id="data-table" class="table table-striped" style="width:100%">
                            <caption>List of roles</caption>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        @Html.DisplayName("No")
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayName("Employee Name")
                                    </th>
                                     <th scope="col">
                                        @Html.DisplayNameFor(model => model.ScoreSegment1)
                                    </th> 
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.ScoreSegment2)
                                    </th> 
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.ScoreSegment3)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.ScoreSegment4)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.TotalScore)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.GradeLevel)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayName("Action")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @{
                                                foreach (var employee in (IEnumerable<EmployeeDtoGet>)ViewData["Employees"])
                                                {
                                                    var fullName = $"{employee.FirstName} {employee.LastName}";
                                                    if (item.Guid == employee.GradeGuid)
                                                    {
                                                        @Html.DisplayFor(x => fullName)
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ScoreSegment1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ScoreSegment2)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ScoreSegment3)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ScoreSegment4)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalScore)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GradeLevel)
                                        </td>
                                        <td>
                                            <form action="/grade/update" method="get">
                                                <input type="hidden" value="@item.Guid" name="guid" />
                                                <button type="submit" class="btn btn-primary" style="margin: 2px"><i class="ri-edit-box-fill"></i></button>
                                            </form>
                                            <form action="/grade/delete" method="post">
                                                <input type="hidden" value="@item.Guid" name="guid" />
                                                <button type="submit" class="btn btn-danger delete-button" style="margin: 2px"><i class="bi bi-trash"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
