@using Client.DataTransferObjects.Employees;
@using Client.DataTransferObjects.Interviews;
@model Client.DataTransferObjects.EmployeeInterviews.EmployeeInterviewDtoGet

@{
    Layout = "_LayoutDashboard";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Validation</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Dashboard/Index">Home</a>
                </li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Validation</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Custom Styled Validation</h5>

                        <!-- Custom Styled Validation -->
                        <form action="/employeeinterview/update" method="post" class="row g-3 needs-validation" novalidate>
                            <div class="col-md-6" hidden>
                                <label for="validationCustom01" class="form-label">Guid</label>
                                <input asp-for="Guid" type="text" class="form-control" id="validationCustom01" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="employeeGuid" class="form-label">Employee Name</label>
                                <select asp-for="EmployeeGuid" class="form-select" id="employeeGuid" required>
                                    <option disabled value="">Choose...</option>
                                    @* foreach view bag employee *@
                                    @{
                                        foreach (var item in (IEnumerable<EmployeeDtoGet>)ViewData["Employees"])
                                        {
                                            if (item.Guid == Model.EmployeeGuid)
                                            {
                                                <option selected value="@item.Guid">@item.FirstName @item.LastName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Guid">@item.FirstName @item.LastName</option>
                                            }

                                        }
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="interviewGuid" class="form-label">Project Name</label>
                                <select asp-for="InterviewGuid" class="form-select" id="interviewGuid" required>
                                    <option disabled value="">Choose...</option>
                                    @* foreach view bag companies *@
                                    @{
                                        foreach (var interview in (IEnumerable<InterviewDtoGet>)ViewData["Interviews"])
                                        {
                                            if (interview.Guid == Model.InterviewGuid)
                                            {
                                                <option selected value="@interview.Guid">@interview.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@interview.Guid">@interview.Title</option>
                                            }
                                        }
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                                <a class="btn btn-info" asp-action="Index">Back to List</a>
                            </div>
                        </form><!-- End Custom Styled Validation -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->