@using Client.DataTransferObjects.Employees
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Client.DataTransferObjects.Companies
@model Client.DataTransferObjects.Placements.PlacementDtoGet

@{
    Layout = "_LayoutDashboard";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Update</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Dashboard/Index">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="~/Placement/Index">Placement</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="~/Placement/Update?guid=@Model.Guid">Update Placement</a>
                </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Update Placement Form</h5>
                        <p>Welcome to the "Update Placement" form! This form allows you to modify and update existing placement listings in our system. Please make sure to make accurate and relevant changes to ensure that the placement information remains up-to-date. Click the "Submit Form" button to update the placement listing. Thank you for using our application!.</p>

                        <!-- Custom Styled Validation -->
                        <form action="/placement/update" method="post" class="row g-3 needs-validation" novalidate>
                            <div class="col-md-6" hidden>
                                <label for="validationCustom01" class="form-label">Guid</label>
                                <input asp-for="Guid" type="text" class="form-control" id="validationCustom01" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom01" class="form-label">Title</label>
                                <input asp-for="Title" type="text" class="form-control" id="validationCustom01" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom02" class="form-label">Description</label>
                                <input asp-for="Description" type="text" class="form-control" id="validationCustom02" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom04" class="form-label">Employee</label>
                                <select asp-for="EmployeeGuid" class="form-select" id="validationCustom04" required>
                                    <option disabled value="">Choose...</option>
                                    @* foreach view bag employee *@
                                    @{
                                        foreach (var item in (IEnumerable<EmployeeDtoGet>)ViewData["Employees"])
                                        {
                                            if (item.Guid == Model.EmployeeGuid)
                                            {
                                                <option selected value="@item.Guid">@item.FirstName @item.LastName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Guid">@item.FirstName @item.LastName</option>
                                            }

                                        }
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom04" class="form-label">Company</label>
                                <select asp-for="CompanyGuid" class="form-select" id="validationCustom04" required>
                                    <option disabled value="">Choose...</option>
                                    @* foreach view bag companies *@
                                    @{
                                        foreach (var company in (IEnumerable<CompanyDtoGet>)ViewData["Companies"])
                                        {
                                            if (company.Guid == Model.CompanyGuid)
                                            {
                                                <option selected value="@company.Guid">@company.CompanyName</option>
                                            }
                                            else
                                            {
                                                <option value="@company.Guid">@company.CompanyName</option>
                                            }
                                        }
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                                <a class="btn btn-info" asp-action="Index">Back to List</a>
                            </div>
                        </form><!-- End Custom Styled Validation -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
