@model IEnumerable<Client.DataTransferObjects.Roles.RoleDtoGet>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
}

<h1>Index</h1>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Data Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables Role</h5>
                        <a href="/role/create">
                            <button class="btn btn-primary" style="margin-bottom: 15px">
                                <i class="bi bi-plus-square"></i> Create
                            </button>
                        </a>
                        <!-- Table with stripped rows -->
                        <table id="data-table" class="table table-striped" style="width:100%">
                            <caption>List of roles</caption>
                            <thead>
                            <tr>
                                <th scope="col">
                                    @Html.DisplayName("No")
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th scope="col">
                                    @Html.DisplayName("Action")
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                var i = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        <form action="/role/Update" method="get">
                                            <input type="hidden" name="guid" value="@item.Guid"/>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="ri-edit-box-fill"></i>
                                            </button>
                                        </form>
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                i++;
                            }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
