@using Client.DataTransferObjects.AccountRoles
@model IEnumerable<Client.DataTransferObjects.Employees.EmployeeDtoGet>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
    var roleGuid = ViewData["RoleGuid"];
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Data Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Dashboard/Index">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="~/Role/Index">Role</a>
                </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables Role</h5>
                        <form action="~/accountrole/create" method="get">
                            <input type="hidden" name="guid" value="@roleGuid"/>
                            <button type="submit" class="btn btn-primary" style="margin: 2px">
                                <i class="ri-edit-box-fill"></i> Add
                            </button>
                        </form>
                        <!-- Table with stripped rows -->
                        <table id="data-table" class="table table-striped" style="width:100%">
                            <caption>List of roles</caption>
                            <thead>
                            <tr>
                                <th scope="col">
                                    @Html.DisplayName("No")
                                </th>
                                <th scope="col">
                                    @Html.DisplayName("NIK")
                                </th>
                                <th scope="col">
                                    @Html.DisplayName("Name")
                                </th>
                                <th scope="col">
                                    @Html.DisplayName("Action")
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                var i = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nik)
                                    </td>
                                    <td>
                                        @{
                                            var fullName = $"{item.FirstName} {item.LastName}";
                                        }
                                        @fullName
                                    </td>
                                    <td>
                                        @{
                                            var accountRoleGuid = "";
                                            foreach (var accounRole in (IEnumerable<AccountRoleDtoGet>)ViewData["AccountRoles"])
                                            {
                                                if (accounRole.AccountGuid == item.Guid)
                                                {
                                                    accountRoleGuid = accounRole.Guid.ToString();
                                                }
                                            }
                                        }
                                        <form action="/accountrole/delete" method="post">
                                            <input type="hidden" value="@accountRoleGuid" name="guid"/>
                                            <button type="submit" class="btn btn-danger delete-button" style="margin: 2px">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                i++;
                            }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
