@using Client.DataTransferObjects.Interviews;
@using Client.DataTransferObjects.EmployeeJobs;
@using Client.DataTransferObjects.Jobs;
@using Client.Utilities.Enums;
@model IEnumerable<Client.DataTransferObjects.Employees.EmployeeDtoGet>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
    var JobGuid = ViewData["JobGuid"];
    var employeeJobs = (IEnumerable<EmployeeJobDtoGet>)ViewData["EmployeeJobs"];
    var interviews = (IEnumerable<InterviewDtoGet>)ViewData["Interviews"];
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Interviews Management Data View</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Dashboard/Index">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="~/EmployeeJob/Index">Job Management</a>
                </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Job Management Listings</h5>
                        @if (User.IsInRole(RoleLevelEnum.Trainer.ToString()))
                        {
                            <form action="~/employeejob/create" method="get">
                                <input type="hidden" name="guid" value="@JobGuid" />
                                <button type="submit" class="btn btn-primary" style="margin: 2px">
                                    <i class="ri-edit-box-fill"></i> Add
                                </button>
                            </form>
                        }
                        <!-- Table with stripped rows -->
                        <table id="data-table" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        @Html.DisplayName("No")
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayName("Employee Name")
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayName("Job Name")
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayName("Interview Title")
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayName("Interview Date")
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayName("Status")
                                    </th>
                                    @if (!User.IsInRole(RoleLevelEnum.Manager.ToString()))
                                    {
                                        <th scope="col">
                                            @Html.DisplayName("Action")
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @{
                                            var culture = new System.Globalization.CultureInfo("id-ID");
                                        }
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @{
                                                var fullName = $"{item.FirstName} {item.LastName}";
                                            }
                                            @Html.DisplayFor(x => fullName)
                                        </td>
                                        <td>
                                            @{
                                                foreach (var job in (IEnumerable<JobDtoGet>)ViewData["Jobs"])
                                                {
                                                    if (Guid.Parse(JobGuid.ToString()) == job.Guid)
                                                    {
                                                        @job.JobName
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                foreach (var employeeJob in employeeJobs)
                                                {
                                                    foreach (var interview in interviews)
                                                    {
                                                        if (employeeJob.EmployeeGuid == item.Guid)
                                                        {
                                                            if (employeeJob.InterviewGuid == interview.Guid)
                                                            {
                                                                @interview.Title
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                foreach (var employeeJob in employeeJobs)
                                                {
                                                    foreach (var interview in interviews)
                                                    {
                                                        if (employeeJob.EmployeeGuid == item.Guid)
                                                        {
                                                            if (employeeJob.InterviewGuid == interview.Guid)
                                                            {
                                                                @interview.InterviewDate
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                foreach (var employeeJob in employeeJobs)
                                                {
                                                    if (employeeJob.EmployeeGuid == item.Guid)
                                                    {
                                                        if (employeeJob.StatusApproval == StatusApprovalEnum.Accepted)
                                                        {
                                                            <span class="badge bg-success">@employeeJob.StatusApproval</span>
                                                        }
                                                        else if (employeeJob.StatusApproval == StatusApprovalEnum.Rejected)
                                                        {
                                                            <span class="badge bg-danger">@employeeJob.StatusApproval</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge bg-warning">@employeeJob.StatusApproval</span>
                                                        }
                                                    }
                                                }
                                            }
                                        </td>
                                        @if (!User.IsInRole(RoleLevelEnum.Manager.ToString()))
                                        {
                                            <td>
                                                @if (User.IsInRole(RoleLevelEnum.Trainer.ToString()))
                                                {
                                                    foreach (var employeeJob in employeeJobs)
                                                    {
                                                        if (employeeJob.EmployeeGuid == item.Guid)
                                                        {
                                                            <form action="/employeejob/delete" method="post">
                                                                <input type="hidden" value="@employeeJob.Guid" name="guid" />
                                                                <button type="submit" class="btn btn-danger delete-button" style="margin: 2px">
                                                                    <i class="bi bi-trash"></i>
                                                                </button>
                                                            </form>
                                                            break;
                                                        }
                                                    }
                                                }

                                                @if (User.IsInRole(RoleLevelEnum.HR.ToString()))
                                                {
                                                    foreach (var employeeJob in employeeJobs)
                                                    {
                                                        if (employeeJob.EmployeeGuid == item.Guid)
                                                        {
                                                            <form action="/employeejob/approve" method="post">
                                                                <input type="hidden" value="@employeeJob.Guid" name="guid" />
                                                                <button type="submit" class="btn btn-primary" style="margin: 2px">
                                                                    <i class="bi bi-check-square"></i> Approve
                                                                </button>
                                                            </form>
                                                            break;
                                                        }
                                                    }
                                                }

                                                @if (User.IsInRole(RoleLevelEnum.HR.ToString()))
                                                {
                                                    foreach (var employeeJob in employeeJobs)
                                                    {
                                                        if (employeeJob.EmployeeGuid == item.Guid)
                                                        {
                                                            <form action="/employeejob/reject" method="post">
                                                                <input type="hidden" value="@employeeJob.Guid" name="guid" />
                                                                <button type="submit" class="btn btn-danger" style="margin: 2px">
                                                                    <i class="bi bi-x-square"></i> Reject
                                                                </button>
                                                            </form>
                                                            break;
                                                        }
                                                    }
                                                }
                                            </td>
                                        }
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
