@using Client.DataTransferObjects.Interviews;
@using Client.DataTransferObjects.Employees;
@using Client.DataTransferObjects.Jobs;
@model Client.DataTransferObjects.EmployeeJobs.EmployeeJobDtoGet

@{
    Layout = "_LayoutDashboard";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Validation</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Dashboard/Index">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="~/employeejob/Index">Interview Management</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="~/employeejob/Update?guid=@Model.Guid">Update Interview Management</a>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Update Interview Management Form</h5>
                        <p>This form is used to update the interview management details for employee interviews with client's company. Remember to save any changes made to the form to keep the records updated and easily accessible. Thank you for using our "Update Interview Management" form!</p>

                        <!-- Custom Styled Validation -->
                        <form action="/employeejob/update" method="post" class="row g-3 needs-validation" novalidate>
                            <div class="col-md-6" hidden>
                                <label for="validationCustom01" class="form-label">Guid</label>
                                <input asp-for="Guid" type="text" class="form-control" id="validationCustom01" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="employeeGuid" class="form-label">Employee Name</label>
                                <select asp-for="EmployeeGuid" class="form-select" id="employeeGuid" required>
                                    <option disabled value="">Choose...</option>
                                    @* foreach view bag employee *@
                                    @{
                                        foreach (var item in (IEnumerable<EmployeeDtoGet>)ViewData["Employees"])
                                        {
                                            if (item.Guid == Model.EmployeeGuid)
                                            {
                                                <option selected value="@item.Guid">@item.FirstName @item.LastName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Guid">@item.FirstName @item.LastName</option>
                                            }

                                        }
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="jobGuid" class="form-label">Job Name</label>
                                <select asp-for="JobGuid" class="form-select" id="jobGuid" required>
                                    <option disabled value="">Choose...</option>
                                    @* foreach view bag employee *@
                                    @{
                                        foreach (var item in (IEnumerable<JobDtoGet>)ViewData["Jobs"])
                                        {
                                            if (item.Guid == Model.JobGuid)
                                            {
                                                <option selected value="@item.Guid">@item.JobName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Guid">@item.JobName</option>
                                            }

                                        }
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="interviewGuid" class="form-label">Interview Title</label>
                                <select asp-for="InterviewGuid" class="form-select" id="interviewGuid" required>
                                    <option disabled value="">Choose...</option>
                                    @* foreach view bag companies *@
                                    @{
                                        foreach (var interview in (IEnumerable<InterviewDtoGet>)ViewData["Interviews"])
                                        {
                                            if (interview.Guid == Model.InterviewGuid)
                                            {
                                                <option selected value="@interview.Guid">@interview.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@interview.Guid">@interview.Title</option>
                                            }
                                        }
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="statusApproval" class="form-label">Status</label>
                                <select asp-for="StatusApproval" class="form-control" id="statusApproval" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option value="0">Pending</option>
                                    <option value="1">Accepted</option>
                                    <option value="2">Rejected</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select status approval!
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                                <a class="btn btn-info" asp-action="Index">Back to List</a>
                            </div>
                        </form><!-- End Custom Styled Validation -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->